:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  color: #111;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

@font-face {
  font-family: "Sequel Sans Black Disp";
  src: url("/fonts/sequel-sans-black-display.ttf") format("truetype");
  font-weight: 435;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Darkline";
  src: url("/fonts/Darkline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
