.navbar {
    background-color: #ffffff;
    color: #000000;
    padding: 20px 130px;
    display: flex;
    justify-content: space-between;
    height: 92px;
    align-items: center;
}

.logo {
    font-size: 32px;
    font-weight: 600;
    font-family: "Darkline", sans-serif;
}

.navbarList {
    display: flex;
    gap: 20px;
    list-style: none;
    font-family: DM Sans, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #262626;
}

.navbarListItem {
    cursor: pointer;
}

.link {
    color: #262626;
    opacity: 60%;
    text-decoration: none;
}

.active {
    color: #262626;
    font-weight: 700;
    text-decoration: none;
}